{
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"trailingComma": "none",
	"jsxBracketSameLine": false,
	"bracketSpacing": true,
	"tabWidth": 6,
	"useTabs": true,
	"arrowParens": "always"
}